{{#each adventurers as |adv| }}

<tr>
  <td>{{adv.id}}</td>
  <td>{{adv.name}}</td>
  <td>{{adv.level.number}}</td>
  <td>{{adv.current_exp}}</td>
  <td>{{adv.level.exp_needed}}</td>
  <td>{{adv.date_created}}</td>
<tr>

{{/each}}
