<div class="container" id="advStatsTableContainer">
  <table class="table table-border table-striped" id="advStatsTable">
    <tbody>
      <tr>
        <td>Adventurer Name</td>
        <td>{{name}}</td>
      </tr>
      <tr>
        <td>Currently Alive</td>
        <td>{{is_alive}}</span></td>
      </tr>
      <tr>
        <td>Level</td>
        <td><span class="badge badge-info">{{level.number}}</span></td>
      </tr>
      <tr>
        <td>Attack</td>
        <td><span class="badge badge-info">{{level.attack}}</span></td>
      </tr>
      <tr>
        <td>Health</td>
        <td><span class="badge badge-info">{{level.health}}</span></td>
      </tr>
      <tr>
        <td>Current Exp</td>
        <td><span class="badge badge-info">{{current_exp}}</span></td>
      </tr>
      <tr>
        <td>Exp Needed</td>
        <td><span class="badge badge-info">{{level.exp_needed}}</span></td>
      </tr>
      <tr>
        <td>Enemies Defeated</td>
        <td><span class="badge badge-info">{{kills}}</span></td>
      </tr>
      <tr>
        <td>Rocks Used</td>
        <td><span class="badge badge-info">{{rock_count}}</span></td>
      </tr>
      <tr>
        <td>Papers Used</td>
        <td><span class="badge badge-info">{{paper_count}}</span></td>
      </tr>
      <tr>
        <td>Scissors used</td>
        <td><span class="badge badge-info">{{scissor_count}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
