<div class="container" id="userStatsTableContainer">
  <table class="table table-border table-striped" id="userStatsTable">
    <tbody>
      <tr>
        <td>Adventurers Created</td>
        <td><span class="badge badge-info">{{created}}</span></td>
      </tr>
      <tr>
        <td>Adventurers Alive</td>
        <td><span class="badge badge-success">{{alive}}</span></td>
      </tr>
      <tr>
        <td>Adventurers Dead</td>
        <td><span class="badge badge-dark">{{dead}}</span></td>
      </tr>
      <tr>
        <td>Highest Level Achieved</td>
        <td><span class="badge badge-info">{{highestLevel}}</span></td>
      </tr>
      <tr>
        <td>Total Kills</td>
        <td><span class="badge badge-danger">{{kills}}</span></td>
      </tr>
      <tr>
        <td>Rocks Used</td>
        <td><span class="badge badge-danger">{{rockCount}}</span></td>
      </tr>
      <tr>
        <td>Papers Used</td>
        <td><span class="badge badge-primary">{{paperCount}}</span></td>
      </tr>
      <tr>
        <td>Scissors used</td>
        <td><span class="badge badge-warning">{{scissorCount}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
