<div class="container" id="userStatsTableContainer">
  <table class="table" id="userStatsTable">
    <tbody>
      <tr>
        <td>Adventurers Created</td>
        <td><span class="badge badge-info">{{created}}</span></td>
      </tr>
      <tr>
        <td>Adventurers Alive</td>
        <td><span class="badge badge-info">{{alive}}</span></td>
      </tr>
      <tr>
        <td>Adventurers Dead</td>
        <td><span class="badge badge-info">{{dead}}</span></td>
      </tr>
      <tr>
        <td>Highest Level Achieved</td>
        <td><span class="badge badge-info">{{highestLevel}}</span></td>
      </tr>
      <tr>
        <td>Rocks Used</td>
        <td><span class="badge badge-info">{{rockCount}}</span></td>
      </tr>
      <tr>
        <td>Papers Used</td>
        <td><span class="badge badge-info">{{paperCount}}</span></td>
      </tr>
      <tr>
        <td>Scissors used</td>
        <td><span class="badge badge-info">{{scissorCount}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
